@model List<Sighting> 
    
<!-- Add Bootstrap and jQuery CDNs to your HTML for the carousel to work -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

@{
    List<string> speciesInAllSightings = new();
}

<form method="get" action="Sighting">
    <select name="specie" id="specie">
        <option value="filter" disabled>filter</option>
        <option value="All" selected>All</option>

        @foreach (var sighting in Model)
        {
            if (sighting.Species != null && !speciesInAllSightings.Contains(sighting.Species.Slug!))
            {
                <option value="@sighting.Species.Slug">@sighting.Species.Name</option>
                speciesInAllSightings.Add(sighting.Species.Slug!);
            }
        }
    </select>
    <input type="submit" value="Submit">
</form>

@{
    string FilterBy = Context.Request.Query["specie"];
    if (FilterBy == "All" || FilterBy == null)
    {
        foreach (var sighting in Model)
        {
            speciesInAllSightings.Add(sighting.Species!.Slug!);
        }
    }
    else
    {
        speciesInAllSightings.Clear();
        speciesInAllSightings.Add(FilterBy!);
    }
}

<div class="sightings-list row row-cols-1 row-cols-md-4 g-4">
    @foreach (var sighting in Model)
    {
        if (speciesInAllSightings.Contains(sighting.Species!.Slug!))
        {
            <ul style="list-style: none; padding: 0;">
                <div class="card mb-3 rounded-9" style="width: 18rem; float:left; margin:10px;">

                    <div id="carousel_@(sighting.Id)" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">

                            @if (sighting.Photos != null)
                            {
                                foreach (var photo in sighting.Photos)
                                {
                                    <div class="carousel-item @(photo == sighting.Photos.First() ? "active" : "")">
                                        <img  class="card-img-top" width="318" height="318" src="@photo.Image" alt="A picture of a whale sighting">
                                    </div>
                                }      
                            }
                            <a class="carousel-control-prev" href="#carousel_@(sighting.Id)" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only"></span>
                            </a>
                            <a class="carousel-control-next" href="#carousel_@(sighting.Id)" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only"></span>
                            </a>
                        </div>        
                        <div class="card-body" style="height: 250px; overflow:auto;">
                            <p class="card-text">Latitude: @sighting.Latitude</p>
                            <p class="card-text">Longitude: @sighting.Longitude</p>
                            <p class="card-text">Date: @sighting.Date</p>
                            <p class="card-text">Description: @sighting.Description</p>
                        </div>
                    </div>
                </div>
            </ul>
        }
    }