@model WsUser

@{
    ViewData["Title"] = @Model.Name;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="@Model.ProfileImageUrl" alt="Profile image for @Model.Name" class="img-fluid">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col-md-8 margin-top 20px">
           <p> @Model.Bio</p> 
        </div>
    </div>        
</div>

<div class="container" style="margin-top: 80px">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
            <div class="col-md-auto">
                <h1>My Sightings</h1>
                    <ul>
                        <div>
                            @foreach (var sighting in @Model.Sightings)
                            {
                                <li class="card mb-3 rounded-9" style="width: 32rem">
                                    <div class="card-body">
                                        <h4 class="card-title">@sighting.Date</h4>
                                        <p class="card-text"> Latitute: @sighting.Latitude Longitude: @sighting.Longitude</p>
                                        <p class="card-text"> Description of Sighting: @sighting.Description</p>
                                    </div>
                                </li>
                            }
                        </div>
                    </ul>
                
            </div>
        <div class="col col-lg-2"></div>
        
    </div>
</div>
